# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Telegram Sessions
*.session
*.session-journal

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.history/
